<div class="mobile-layout">
  <div class="container header">
    <div class="row">
      <div class="col col-xs-3 col-sm-3 col-md-3">
        <button mat-button routerLink="/step7" routerLinkActive="active" class="back-btn"><mat-icon class="back-btn-icon">arrow_back</mat-icon></button>
      </div>
      <div class="col col-xs-6 col-sm-6 col-md-6">
        <h6>Create my portfolio</h6>
      </div>
      <div class="col col-xs-3 col-sm-3 col-md-3">
        <!-- <mat-icon>arrow_forward</mat-icon> -->
      </div>
    </div>
  </div>
  <div class="container content">
    <div class="row">
      <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
    </div>
    <div class="row padding-top-20">
      <div class="col col-xs-12">
      <h1>STOCKS</h1>
      <p>ASX 200 Index is represented by 11 Global Industry Classification Standard (GICS) Sectors.</p>
      <p>You unselect and keep what interests you.</p>
      </div>
    </div>
    <div class="row" style="max-height:340px;overflow:scroll">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Financials(XFJ)</mat-card-title>
          <mat-checkbox [checked]=true ></mat-checkbox>
        </mat-card-header>
        <mat-card-content>
          <p>
            Companies involved in activities such as banking, mortgage finance, consumer finance, specialised finance, investment banking and brokerage. asset management and custody, corporate lending, insurance, and financial investment, and real estate, including REITs.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Materials(XMJ)</mat-card-title>
          <mat-checkbox [checked]=true ></mat-checkbox>
        </mat-card-header>
        <mat-card-content>
          <p>
            Companies with a range of commodity-related manufacturers, included in this sector are companies that manufacture chemicals, construction materials, glass, paper, forest products and related packaging products, and metals, minerals and mining companies, including producers of steel.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Health Care(XHJ)</mat-card-title>
          <mat-checkbox [checked]=true ></mat-checkbox>
        </mat-card-header>
        <mat-card-content>
          <p>
            Contains companies that manufacture equipment & supplies, provide health care related services, or owners/operators of products, facilities and organisations. This includes companies involved in research, development, production and marketing of pharmaceutical & biotech products.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Real Estate(XRE)</mat-card-title>
          <mat-checkbox [checked]=true ></mat-checkbox>
        </mat-card-header>
        <mat-card-content>
          <p>
            Comprises stocks included in the S&P/ASX 200 that are classified as members of the GICS real estate sector.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Industrials(XNJ)</mat-card-title>
          <mat-checkbox [checked]=true ></mat-checkbox>
        </mat-card-header>
        <mat-card-content>
          <p>
            Businesses in Manufacturing & Distribution of capital goods, incl. aerospace&defense, construction, engineering & building, equipment & machinery; or Commercial Services & Supplies incl. employment, environment & office; or Transportation Services incl. airlines, marine and road & rail.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Consumer Staples(XSJ)</mat-card-title>
          <mat-checkbox [checked]=true ></mat-checkbox>
        </mat-card-header>
        <mat-card-content>
          <p>
            Manufacturers and distributors of food, beverages and tobacco and producers of non-durable household goods and personal products. It also includes food & drug retailing companies as well as hypermarkets and consumer super centers.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Consumer Staples(XSJ)</mat-card-title>
          <mat-checkbox [checked]=true ></mat-checkbox>
        </mat-card-header>
        <mat-card-content>
          <p>
            Manufacturers and distributors of food, beverages and tobacco and producers of non-durable household goods and personal products. It also includes food & drug retailing companies as well as hypermarkets and consumer super centers.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Consumer Discretionary(XDJ)</mat-card-title>
          <mat-checkbox [checked]=true ></mat-checkbox>
        </mat-card-header>
        <mat-card-content>
          <p>
            Businesses in automotive, household durable goods, textiles and apparel and leisure equipment. The services segment includes hotels, restaurants and other leisure facilities, media production and services, and consumer retailing and services.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Energy(XEJ)</mat-card-title>
          <mat-checkbox [checked]=true ></mat-checkbox>
        </mat-card-header>
        <mat-card-content>
          <p>
            Businesses in the construction or provision of oil rigs, drilling equipment and energy related service & equipment, incl. seismic data collection; or,companies engaged in exploration, production, marketing, refining and/or transportation of oil & gas products, coal and other consumable fuels.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Communication Services(XTJ)</mat-card-title>
          <mat-checkbox [checked]=true ></mat-checkbox>
        </mat-card-header>
        <mat-card-content>
          <p>
            Provides investors with a sector benchmark that reflects those companies included in the S&P/ASX 200 that are classified as members of the GICS communication services sector and sub-industries.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Utilities(XUJ)</mat-card-title>
          <mat-checkbox [checked]=true ></mat-checkbox>
        </mat-card-header>
        <mat-card-content>
          <p>
            Companies considered to be in electric, gas or water utilities, or companies that operate as independent producers and/or distributors of power.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Information Techonology(XIJ)</mat-card-title>
          <mat-checkbox [checked]=true ></mat-checkbox>
        </mat-card-header>
        <mat-card-content>
          <p>
            Software & Services companies in web applications, systems, databases management, and businesses that provide IT consulting & data processing. Also, Tech Hardware & Equipment, incl. manufacturers & distributors of comms equipment, computers & peripherals and related equipment.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="container footer">
    <div class="row float-right">
        <button mat-button routerLink="/step9" routerLinkActive="active">Next <mat-icon>arrow_forward</mat-icon></button>
    </div>
  </div>
</div>
