<div class="mobile-layout">
    <app-header></app-header>
    <div class="container content">
      <div class="row">
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <h1>Just a few details from you to get started</h1>
        <p>Please enter the full name as seen on your driver's license or passport</p>
      </div>
      <div class="row">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="First name">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Middle name"></textarea>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Last name"></textarea>
          </mat-form-field>

          </form>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
