<div class="container header">
  <h1>Market News</h1>
  <p>Latest market movement</p>
</div>
<div class="container content">
  <div class="row padding-top-20">
    <div class="col col-xs-12">
    <mat-card class="example-card" (click)="chooseCategory('stocks')">
      <mat-card-header>
        <mat-card-title>Is now the time to invest in pot stocks?</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Unsure and looking for diversity? Choose to invest in top ASX index funds for greater diversification
        </p>
      </mat-card-content>
    </mat-card>
    </div>
  </div>
  <div class="row padding-top-20">
    <div class="col col-xs-12">
    <mat-card class="example-card" (click)="chooseCategory('stocks')">
        <mat-card-header>
          <mat-card-title>Upcoming IPOs This Week</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Mauris at dui in erat consectetur dictum vel et augue. Donec vel pretium enim. Mauris finibus semper quam. Sed varius, est et gravida fringilla, eros nulla gravida magna, ut pellentesque lacus nibh sed diam. Sed quis purus efficitur, mollis nisl sit amet, eleifend lacus. Pellentesque porttitor tempus posuere          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row padding-top-20">
    <div class="col col-xs-12">
    <mat-card class="example-card" (click)="chooseCategory('stocks')">
      <mat-card-header>
        <mat-card-title>Is now the time to invest in pot stocks?</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Unsure and looking for diversity? Choose to invest in top ASX index funds for greater diversification
        </p>
      </mat-card-content>
    </mat-card>
    </div>
  </div>
  <div class="row padding-top-20">
    <div class="col col-xs-12">
    <mat-card class="example-card" (click)="chooseCategory('stocks')">
        <mat-card-header>
          <mat-card-title>Leading brokers name 3</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
              a vehicula ante, ac dictum ligula orci eu mauris. Etiam convallis imperdiet consequat. Etiam mattis augue ut magna pulvinar, ac fringilla odio interdum. Curabitur tempor ac ligula quis feugiat. Nullam rhoncus sapien tellus.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
