<div class="container header">
  <h1>My Portfolio</h1>
  <p>Snapshot of your stock prices</p>
</div>
<div class="container content portfolio">
  <div class="row">
    <table>
      <tr>
        <td><p>Financials (XFJ)</p></td>
        <td><p>Chart Place Holder</p></td>
        <td><p>2%<i class="fa fa-caret-down" style="font-size:24px"></i></p></td>
      </tr>
      <tr>
        <td><p><p>Materials<br>(XMJ)</p></td>
        <td><p>Chart Place Holder</p></td>
        <td><p>47%<i class="fa fa-caret-up" style="font-size:24px"></i></p></td>
      </tr>
      <tr>
        <td><p><p>Health Care<br>(XHJ)</p></td>
        <td><p>Chart Place Holder</p></td>
        <td><p>3%<i class="fa fa-caret-down" style="font-size:24px"></i></p></td>
      </tr>
      <tr>
        <td><p><p>Real Estate<br>(XRE)</p></td>
        <td><p>Chart Place Holder</p></td>
        <td><p>7%<i class="fa fa-caret-up" style="font-size:24px"></i></p></td>
      </tr>
      <tr>
        <td><p><p>Industrials<br>(XNJ)</p></td>
        <td><p>Chart Place Holder</p></td>
        <td><p>8%<i class="fa fa-caret-down" style="font-size:24px"></i></p></td>
      </tr>
      <tr>
        <td><p><p>Consumer Staples<br>(XSJ)</p></td>
        <td><p>Chart Place Holder</p></td>
        <td><p>3%<i class="fa fa-caret-up" style="font-size:24px"></i></p></td>
      </tr>
      <tr>
        <td><p><p>Consumer Discretionary<br>(XDJ)</p></td>
        <td><p>Chart Place Holder</p></td>
        <td><p>23%<i class="fa fa-caret-down" style="font-size:24px"></i></p></td>
      </tr>
      <tr>
        <td><p><p>Energy<br>(XEJ)</p></td>
        <td><p>Chart Place Holder</p></td>
        <td><p>2%<i class="fa fa-caret-up" style="font-size:24px"></i></p></td>
      </tr>
      <tr>
        <td><p><p>Communication<br>Services (XTJ)</p></td>
        <td><p>Chart Place Holder</p></td>
        <td><p>5%<i class="fa fa-caret-up" style="font-size:24px"></i></p></td>
      </tr>
      <tr>
        <td><p><p>Utilities<br>(XUJ)</p></td>
        <td><p>Chart Place Holder</p></td>
        <td><p>8%<i class="fa fa-caret-down" style="font-size:24px"></i></p></td>
      </tr>
      <tr>
        <td><p><p>Information <br>Technology (XEJ)</p></td>
        <td><p>Chart Place Holder</p></td>
        <td><p>11%<i class="fa fa-caret-up" style="font-size:24px"></i></p></td>
      </tr>
    </table>
  </div>
</div>
